!!!
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    title Listenr.js

    - if (development)
      script(src="http://www.livejs.com/live.js")

    link(rel="shortcut icon", href="/apple-touch-icon.png")
    link(rel="apple-touch-icon", href="/apple-touch-icon.png")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/style.css")

  body !{body}
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(src="/js/sproutcore-2.0.beta.3.min.js")
    script(src="/js/app.js")
