!!!
html(lang='es')
  head
    title Listenr.js
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js', type='text/javascript')
    - if (development)
      script(src='http://www.livejs.com/live.js', type='text/javascript')
    link(rel='stylesheet', type='text/css', href='/css/normalize.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')

  body !{body}
